<!DOCTYPE html>
<html>
<head>
		<title> About </title>
</head>
<body>
		<h1> This is my about page! You're about to see more pictures! </h1>
		<a href="../index.html">Go back</a>

		<figure>
			<img src="../images/pic6.jpg" width="531px" height="797px" alt="A cheeseburger, fries, and a milkshake">
			<figcaption>
				The french fry and chocolate milk shake combination is one of the best combinations the world has to offer. 
			</figcaption>
		</figure>

		<figure>
			<img src="../images/pic7.jpeg" width="750px" height="500px" alt="Jack Antonoff looking out a window">
			<figcaption>
				My favorite modern musician, Jack Antonoff. 
			</figcaption>
		</figure>

		<figure>
			<img src="../images/pic8.jpg" width="405px" height="720px" alt="A sunny Kansas City day in the Crossroads.">
			<figcaption>
				Kansas City does have cool looking buildings - in my opinion. 
			</figcaption>
		</figure>

		<figure>
			<img src="../images/pic9.jpeg" width="655px" height="872px" alt="Two KC lattes">
			<figcaption>
				I helped create the plans for the Made in KC Cafe, so it's near and dear to my heart.
			</figcaption>
		</figure>

		<figure>
			<img src="../images/pic10.jpg" width="487px" height="654px" alt="The Rio Theatre">
			<figcaption>
				The cutest theatre in KC that plays all of the good independent films. Plus, it's pink.
			</figcaption>
		</figure>
</body>
</html>